body{
    background:url(../image/iletişim.jpg); /*backgrounda resim*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    background-attachment: fixed; /*taşma yapmasın*/

    display: flex;
    justify-content: center;
    align-items: center;
}


td{
    text-align: left;
    font-weight: bold;
    color: black;
}

/*flu olan yer yani div*/
.formcont{
      background: rgba(255, 255, 255, 0.3); /* Hafif şeffaf arka plan */
      backdrop-filter: blur(10px); /*flu background görüntüsü */
      border: 3px solid rgba(125, 82, 143, 0.8); /* çerçeve */
      padding: 30px;
      margin-top: 70px;
      border-radius: 15px;
      max-width:75vh;
      width: 100%;
      height: 80vh;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      overflow-y: auto;
      scrollbar-width: none;
}


table{
    margin:auto;
    color: black;
    margin-top:10px;
}