a:hover{
    background-color: rgb(148, 71, 115);
}
form{
    margin-top: 40px;
}

.formdes{
    background: rgba(255, 255, 255, 0.3); /* Hafif şeffaf arka plan */
      backdrop-filter: blur(3px); /*flu background görüntüsü */
      border: 3px solid rgba(125, 82, 143, 0.8); /* çerçeve */
      margin-top: 60px;
      border-radius: 15px;
      max-width:50vh;
      width: 70%;
      height: 40vh;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    align-items: center;  
}

table{
    margin: auto;
}

td{
    font-weight: bolder;
}

body{
    background:url(../image/login2.jpg); /*backgrounda resim*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    background-attachment: fixed; /*taşma yapmasın*/

    display: flex;
    justify-content: center;
    align-items: center;
}

