nav{
    background-color:#b7d0e1 ;
    padding-bottom: 10px;
    padding-left: 30px;
}

header>img{
    width: 200px;
    height: 200px;
}

section{
    margin-left: 20px;
}

nav>a{
    color:#000;
}

footer{
    background-color:#b7d0e1 ;
    padding-bottom: 5px;
}
  
header{
    margin-top: 0px;
    padding:30px;
    padding-bottom: 20px;
    background-color: #b7d0e1;
}

div a:hover{
    background-color:#b7d0e1;
}